@font-face {
    font-family: 'Mystery Quest';
    src: url('/assets/MysteryQuest-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Mystery Quest', cursive;
}